{% extends 'blog/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container p-5 bg-light">
        {% if request.user == blog.user %}
            <div class="row">
                <div class="col-12">
                    <h4>Are you sure to delete your blog?</h4>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        {% else %}
            <h3>You are not allowed here</h3>
        {% endif %}
    </div>
{% endblock content %}